.site{
display:grid;
grid-template-columns: 0.3fr 0.4fr 03fr;
grid-template-rows: auto ;
grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "selList selList selList"
        "nextButton NextButton NextButton";
      }
.header{
  height:80px;
  background-color: #E0E0E0;
}

.itemnotselected{
  background-color: lightgreen;
  padding: 10px;
}
.itemselected{
  background-color: green;
  padding: 10px;
}

.selList{

  width: 400px;
height: 400px;


position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;

margin: auto;

          }

          .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

p {
  color:white;
}
